# MongoDB URI
MONGODB_URI=mongodb+srv://JosephFola:folasakin@cluster0.p4vlqgp.mongodb.net/Window12Port?appName=Cluster0

# JWT Secret
JWT_SECRET=UuhAUvejZXua+eB8Tjn4sY6L0MRt7wj6K1uYLHD1Qwk=

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
